<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Reef</title>
   
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap"
    rel="stylesheet">
</head>
<body id="indexBody">
    

<div id="indexContainer">
    <div>
        <h1 id="indexLogoTitle">The Reef</h1>
    </div>
    <div>
      <h4>Buy/Sell/Trade Aquatic Plants, Fish and Services</h4>
    </div>
    <div class="indexLoginContainer">
        <a href="/login" class="button"> Login</a>
        <a href="/signup" class="button"> Signup</a>
    </div>
</div>

<%- include('partials/footer') -%>

</body>

</html>