*{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #030303;
    color: white;
    font-family: 'Roboto', sans-serif;
}


div{
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, span{
    font-family: 'Roboto', sans-serif;
}

.button{
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 3rem;
    background-color: #2F4858;
    border-radius: 8px;
    border: none;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: #006983;
}

.label{
    font-size: 1.4rem;
}

/* HEADER */

.header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header h1 > a{
    font-size: 39px;
    font-family: 'Dancing Script';
    font-weight: bold;
    color: white;
    text-decoration: none;
}
/* 
.myProfileLink{
    background-color: #1A1A1B;
    font-size: 20px;
    padding: 1rem 1.5rem;
} */

.button > a{
    color: white;
    text-decoration: none;
}

.button > a:hover{
    background-color: #006983;
    color: white;
    transition: .2s ease;
}

.myProfileLink{
    text-decoration: none;
    color: white;
}



/* INDEX PAGE */

#indexBody{
    background-image: url('../imgs/planted2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(168, 167, 167, 0.5);
}

#indexLogoTitle{
    font-size: 4.2rem;
    font-family: "Dancing Script", 'Roboto', sans-serif;
}

#indexContainer{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: rgba(35, 45, 35, 0.599);
}

.indexLoginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.indexLoginContainer > a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 3rem;
    background-color: #2F4858;
    border-radius: 8px;
}

.indexLoginContainer > a:hover{
    background-color: #006983;
    color: white;
    transition: .2s ease;
}

/* SIGNUP PAGE */

#emailHelp{
    color: white;
    font-size: 14px;
}

.signupBody{
    background-image: url('../imgs/planted2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(168, 167, 167, 0.5);
}

#signupContainer{
    margin-top: 130px;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: rgba(35, 45, 35, 0.599);
    padding: 4rem 4rem;
}

.signupWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpButton{
    width: 100%;
}

/* FEED */

.feedContainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
}

.feedContentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedBody{
    display: flex;
    justify-content: center;
}



.feedPost{
    width: 700px;
    /* height: 850px; */
    background-color: #1A1A1B;
    display: flex;
}

.feedImgContainer{
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.likesBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 125px;
    background-color: #151515;
}

.likesArrowsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.feedImg{
   width: 100%;
    /* height: 100%; */
}

.voteArrow{
    font-size: 24px;
}

#feedTitle{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.feedIcon{
    font-size: 24px;
}

.commentsAndShare{
    /* border: 1px solid red; */
    background-color: #151515;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feedIconContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

