*{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    color: white;
    background-color: #030303;
    font-family: 'Roboto', sans-serif;
}


div{
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, span{
    font-family: 'Roboto', sans-serif;
}

.button{
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 3rem;
    background-color: #2F4858;
    border-radius: 8px;
    border: none;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: #006983;
}

.label{
    font-size: 1.4rem;
}

/* HEADER */

.header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header h1 > a{
    font-size: 39px;
    font-family: 'Dancing Script';
    font-weight: bold;
    color: white;
    text-decoration: none;
}
/* 
.myProfileLink{
    background-color: #1A1A1B;
    font-size: 20px;
    padding: 1rem 1.5rem;
} */

.button > a{
    color: white;
    text-decoration: none;
}

.button > a:hover{
    background-color: #006983;
    color: white;
    transition: .2s ease;
}

.myProfileLink{
    text-decoration: none;
    color: white;
}



/* INDEX PAGE */

#indexBody{
    background-image: url('../imgs/planted2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(168, 167, 167, 0.5);
}

#indexLogoTitle{
    font-size: 4.2rem;
    font-family: "Dancing Script", 'Roboto', sans-serif;
}

#indexContainer{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: rgba(35, 45, 35, 0.599);
}

.indexLoginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.indexLoginContainer > a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 3rem;
    background-color: #2F4858;
    border-radius: 8px;
}

.indexLoginContainer > a:hover{
    background-color: #006983;
    color: white;
    transition: .2s ease;
}

/* SIGNUP PAGE */

#emailHelp{
    color: white;
    font-size: 14px;
}

.signupBody{
    background-image: url('../imgs/planted2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(168, 167, 167, 0.5);
}

#signupContainer{
    margin-top: 130px;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: rgba(35, 45, 35, 0.599);
    padding: 4rem 4rem;
}

.signupWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpButton{
    width: 100%;
}

.signupLoginLogoContainer{
    padding: 1rem;
    text-align: center;
}


/* FEED */


.box{
    border: 1px solid rgb(42, 103, 131);
    background-color: rgb(23, 77, 96);
}



.pageLinkBox{
    color: white;
    text-decoration: none;
}

.pageLinkBox:hover{
    color: white;
    opacity: .8;
}






/* EJS LAYOUTS W/ TAILWIND */





/* SCROLLBAR */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #050505 #545454;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #545454;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #050505;
    border-radius: 10px;
    border: 3px none #ffffff;
  }


/* INDEX PAGE + BASE STYLES */

.btn-primary{
    background-color: green;
}

.btn{
    color:white ;
}

.green{
    background-color: rgb(35, 149, 35);
    outline: none;
    border: none;
}

#heroContainer{
    background-image: url('../imgs/planted2.jpg');
}

.hero-content{
    background-color: rgba(29, 29, 30, 0.591);
    border-radius: 10px;
}


/* Card styles */

.feedCard{
    background-color: #202727;
    color: white;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    padding: .5rem 1rem;
    margin: 0 0 2rem 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(112, 112, 112);
}

.feedCard:hover{
    border: 1px solid white;
}

.cardImgContainer{
    width: 175px;
    height: 100px;
    margin-right: 1rem;
}

.cardImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2rem;
}


/* FEED PAGE */


.tag{
    padding: .3rem 1rem;
    background-color: rgba(209, 162, 32, 0.687);
    border-radius: 20px;
 }
 
 .buyTag{
    background-color: #39aaa8;
 }

 .sellTag{
    background-color: #23ac3f;
}

.tradeTag{
    background-color: #6d3a7b;
}

.servicesTag{
    background-color: #c85d28;
}

.gapper{
    height: 50px;
}



/* Live fish feed */



.fishContentContainer{
    width: 75%;
    margin: 0 auto;
}



/* Profile Styles */

.profileFeedContainer{
    /* border: 1px solid red; */
    width: 60%;
}

.profileContentContainer{
    display: flex;
    flex-wrap: wrap;
}

input{
    color: black;
}

input:placeholder{
    color: black;
}

.profileFormContainer{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-self: flex-start;
}

.profileFormContainer form > *{
    width: 100%;
}

#caption{
    width: 100%;
    margin: 10px 0;
}



.selectContainer{
    display: flex;
    flex-direction: column;
}



/* POSTS */

.postPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postContentContainer{
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postContentContainer .img{
    width: 65%;
    margin: 0;
}

.postActionsContainer{
    display: flex;
    gap: 10rem;
}


































/* PROFILE MEDIA QUERIES */

@media all and (max-width: 800px){

    .profileFeedContainer{
        width: 100%;
    }

}